body {
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: novecentodemibold;
  src: url(fonts/novecentodemibold.otf);
}
@font-face {
  font-family: novecentowidebook;
  src: url(fonts/novecentowidebook.otf);
}
@font-face {
  font-family: novecentowidebold;
  src: url(fonts/novecentowidebold.otf);
}
@font-face {
  font-family: novecentowidelight;
  src: url(fonts/novecentowidelight.otf);
}
@font-face {
  font-family: novecentowidemedium;
  src: url(fonts/novecentowidemedium.otf);
}
@font-face {
  font-family: novecentowidenormal;
  src: url(fonts/novecentowidenormal.otf);
}
#topnavbar {
  background-color: white;
  border-top: 3px solid;
  padding: 0px;
  heigth: 0px;
  width: 100%;
  position: fixed;
  z-index: 1;
}
#navmenu {
  width: 100%;
  margin:auto;
}
.homeintro{
  background-image: url(images/gabriel-intro.jpg);
  background-position: center;
  background-size: cover;
  height: 800px;
  width: auto;

}

#socialbar {
  padding-top: 500px;
}

.socialtwitter {
  float: center;
  margin-left: 10px;

}
.socialfacebook {
  float: center;
  margin-left: 10px;

}
.socialyoutube {
  float: center;
  margin-left: 10px;
}
.socialinstagram {
  float: center;
  margin-left: 10px;
}
a.socialicons:hover {
opacity: .8;
filter:alpha(opacity=80); /* For IE8 and earlier */
}
.body1 {
  background-color: #eaeaea;
  border-top: 3px solid #464646;
  height:auto;
  width: auto;
  margin-left: auto;
  margin-right:auto;
  text-align: center;

}
.vision1 {
  display:inline-block;
  padding-top: 50px;
  font-size: 30px;
  font-family: novecentodemibold;
  width: auto;
  margin: auto;
  color: #464646;
}
.textbody1 {
  display: inline-block;
  padding-top: 20px;
  font-size: 25px;
  font-family: novecentowidelight;
  width: auto;
  margin:auto;
  color: #464646;
}
.button1 {
  padding-top: 20px;
  padding-bottom: 50px;
}
}
a.button1:hover {
opacity: .8;
filter:alpha(opacity=80); /* For IE8 and earlier */
}
.container1 {
  max-width: 960px;
  margin:auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.body2{
  background-image: url(images/alabanza2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 800px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid #464646;
  text-align: center;

}
.textbody2 {
  display: inline-block;
  padding: auto;
  font-size: 25px;
  font-family: novecentowidelight;
  width: auto;
  color: white;
  text-align: center;
}
.devocion {
  display:inline-block;
  padding-top: 300px;
  font-size: 30px;
  font-family: novecentodemibold;
  width: auto;
  margin: auto;
  color: white;
  text-align: center;
}
iframe {
  display:inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
}
.videowrapper {
  position: relative;
  padding-bottom: 56.45%;
  height: 0;
  z-index: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.body4 {
  background-image: url(images/nfq2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid #464646;
  text-align: center;

}
ul.rig {
list-style: none;
font-size: 0px;
padding-top: 20px;
}
ul.rig li {
display: inline-block;
padding: 10px;
background: #fff;
border: 1px solid #ddd;
font-size: 16px;
font-size: 1rem;
vertical-align: top;
box-shadow: 0 0 5px #ddd;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
ul.rig li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}
ul.rig li h3 {
  margin: 0 0 5px;
}
ul.rig li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}

ul.rig {
  list-style: none;
  font-size: 0px;
  margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
ul.rig.columns-3 li {
  width: 30.83%; /* this value + 2.5 should = 33% */
}

h3 {
  font-size: 20px;
  font-family: novecentowidelight;
}
.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:transparent;
  -moz-border-radius:0px;
  -webkit-border-radius:6px;
  border-radius:0px;
  border:2px solid #464646;
  display:inline-block;
  cursor:pointer;
  color:#464646;
  font-family:novecentowidelight;
  font-size:25px;
  font-weight:bold;
  padding:6px 24px 10px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
  background-color:transparent;
}
.myButton:active {
  position:relative;
  top:1px;
}
.nav-menu {
  color:black;
}
#map {
       width: auto;
       height: 400px;
     }
.body3 {
  background-image: url(images/gracia4.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid #464646;
  text-align: center;
}
.footer {
  background-color: #232323;
  width: 100%;
}
#mapnew {
  width: 100%;
}
.footer-text {
  display: inline-block;
  padding: auto;
  font-size: 15px;
  font-family: novecentowidelight;
  width: auto;
  color: white;
  text-align: center;
}
.textbody4 {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 25px;
  font-family: novecentowidelight;
  width: auto;
  margin:auto;
  color: #464646;
}
  .body5 {
    background-image: url(images/relevantes2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid #464646;
    text-align: center;
  }

  .relevantes {
    display:inline-block;
    padding-top: 200px;
    font-size: 30px;
    font-family: novecentodemibold;
    width: auto;
    margin: auto;
    color: white;
    text-align: center;
  }
  .videointro{
    background-image: url(images/video-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid #464646;
    text-align: center;

  }
  .videointrotext {
    display:inline-block;
    padding-top: 180px;
    font-size: 35px;
    font-family: novecentodemibold;
    width: auto;
    margin: auto;
    color: white;
    text-align: center;
  }

  ul.rig2 {
  list-style: none;
  font-size: 0px;
  padding-top: 20px;
  }
  ul.rig2 li {
  display: inline-block;
  padding: 10px;
  /*background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;*/
  vertical-align: top;
  /*box-shadow: 0 0 5px #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
  }
  ul.rig2 li img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
  }
  ul.rig2 li h3 {
    margin: 0 0 5px;
  }
  ul.rig2 li p {
    font-size: .9em;
    line-height: 1.5em;
    color: #999;
  }

  ul.rig2 {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
  }
  ul.rig2 li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    /*background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;*/
    vertical-align: top;
    /*box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;*/
  }
  ul.rig2.columns-3 li {
    width: 30.83%; /* this value + 2.5 should = 33% */
  }

  /*ADN Inicio*/
  .og-grid, .og-grid * {
    box-sizing: border-box;
    font-family: novecentowidelight;
  }

  .og-grid {
  	list-style: none;
  	padding: 20px 0;
  	margin: 0 auto;
  	text-align: center;
  	width: 100%;
  }

  .og-grid li {
  	display: inline-block;
  	margin: 10px 5px 0 5px;
  	vertical-align: top;
  	height: 300px;
  }

  .og-grid li > a,
  .og-grid li > a img {
  	border: none;
  	outline: none;
  	display: block;
  	position: relative;
  }

  .og-grid li.og-expanded > a::after {
  	top: auto;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-bottom-color: #ddd;
  	border-width: 15px;
  	left: 50%;
  	margin: -20px 0 0 -15px;
  }

  .og-expander {
  	position: absolute;
  	background: #ddd;
  	top: auto;
  	left: 0;
  	width: 100%;
  	margin-top: 10px;
  	text-align: left;
  	height: 0;
  	overflow: hidden;
  }

  .og-expander-inner {
  	padding: 50px 30px;
  	height: 100%;
  }

  .og-close {
  	position: absolute;
  	width: 40px;
  	height: 40px;
  	top: 20px;
  	right: 20px;
  	cursor: pointer;
  }

  .og-close::before,
  .og-close::after {
  	content: '';
  	position: absolute;
  	width: 100%;
  	top: 50%;
  	height: 1px;
  	background: #888;
  	-webkit-transform: rotate(45deg);
  	-moz-transform: rotate(45deg);
  	transform: rotate(45deg);
  }

  .og-close::after {
  	-webkit-transform: rotate(-45deg);
  	-moz-transform: rotate(-45deg);
  	transform: rotate(-45deg);
  }

  .og-close:hover::before,
  .og-close:hover::after {
  	background: #333;
  }

  .og-fullimg,
  .og-details {
  	width: 50%;
  	float: left;
  	height: 100%;
  	overflow: hidden;
  	position: relative;
  }

  .og-details {
  	padding: 0 40px 0 20px;
  }

  .og-fullimg {
  	text-align: center;
  }

  .og-fullimg img {
  	display: inline-block;
  	max-height: 100%;
  	max-width: 100%;
  }

  .og-details h3 {
  	font-weight: 300;
  	font-size: 52px;
  	padding: 40px 0 10px;
  	margin-bottom: 10px;
    color: black;
  }

  .og-details p {
  	font-weight: 400;
  	font-size: 16px;
  	line-height: 22px;
  	color: #999;
  }

  .og-details a {
  	font-weight: 700;
  	font-size: 16px;
  	color: #333;
  	text-transform: uppercase;
  	letter-spacing: 2px;
  	padding: 10px 20px;
  	border: 3px solid #333;
  	display: inline-block;
  	margin: 30px 0 0;
  	outline: none;
  }

  .og-details a::before {
  	content: '\2192';
  	display: inline-block;
  	margin-right: 10px;
  }

  .og-details a:hover {
  	border-color: #999;
  	color: #999;
  }

  .og-loading {
  	width: 20px;
  	height: 20px;
  	border-radius: 50%;
  	background: #ddd;
  	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	margin: -25px 0 0 -25px;
  	-webkit-animation: loader 0.5s infinite ease-in-out both;
  	-moz-animation: loader 0.5s infinite ease-in-out both;
  	animation: loader 0.5s infinite ease-in-out both;
  }

  @-webkit-keyframes loader {
  	0% { background: #ddd; }
  	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
  }

  @-moz-keyframes loader {
  	0% { background: #ddd; }
  	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
  }

  @keyframes loader {
  	0% { background: #ddd; }
  	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
  }

  @media screen and (max-width: 830px) {

  	.og-expander h3 { font-size: 32px; }
  	.og-expander p { font-size: 13px; }
  	.og-expander a { font-size: 12px; }

  }

  @media screen and (max-width: 650px) {

  	.og-fullimg { display: none; }
  	.og-details { float: none; width: 100%; }

  }

  /*ADN Final*/


  @media screen and (max-width: 800px) {
    .body2 {
      background-attachment: local;
    }
  }
  @media screen and (max-width: 800px) {
    .body3 {
      background-attachment: local;
    }
  }
  @media screen and (max-width: 800px) {
    .body4 {
      background-attachment: local;
    }
  }
  @media screen and (max-width: 800px) {
    .body5 {
      background-attachment: local;
    }
  }
